* {
  /*border-style: solid;*/
  border-radius: 1px;
}

html {
  padding: 0px;
  background-color: rgb(231, 189, 106);
}

body {
  margin: 0px;
}

header {
  background-color: rgb(165, 34, 34);
  border-style: solid;
  border-radius: 1px;
  border-color: rgb(165, 34, 34);
}

h1 {
  font-size: 50px;
  margin: 10px;
  display: inline-block;
  color: rgb(124, 6, 6);
}

header img {

  float: right;
  height: 70px;
  width: 70px;
}

nav {
  float: left;
  width: 25%;
  background-size: contain;
  /*background-blend-mode: luminosity;*/
  background-color: rgb(124, 59, 6);
}

p {
  width: 60%;
  display: inline-block;
}

ul {
  list-style: none;
}

li {
  background-image: url("resources/listgraphic.png");
  width: 270px;
  height: 48px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  font-size: 20px;
  color: rgb(231, 189, 106);
}

li:first-child {
  background-image:url("resources/listgraphictop.png");
}

li:last-child {
  background-image:url("resources/listgraphicbottom.png");
}

a {
  display: flex;
  vertical-align: middle;
  color: rgb(231, 189, 106);
  text-decoration: none;
}

a:visited {
  color: rgb(231, 189, 106);
  text-decoration: none;
}

img {
  width: 30%;
  height: 400px;
}

table {
  align-content: center;
}

td {
  border-style: solid;
  border-radius: 2px;
  padding: 5px;
  width: 50px;
  height: 40px;
  align-content: center;
}
#form-header {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.form-label {
  width: 20%;
  text-align: right;
}

.input-box {
  float: right;
  text-align: right;
}
